---
import Layout from "../layouts/Layout.astro";

---

<Layout>
  <div class="flex flex-col gap-3 p-3 bg-slate-400 bg-opacity-10 drop-shadow-2xl">
    <h1 class="text-4xl font-bold">Bienvenido a esta página de práctica en astro</h1>
    <h3 class="text-2xl font-semibold">¿Qué es Astro?</h3>
    <p>Astro es un framework de aplicaciones web basado en JavaScript de código abierto. Fue creado por Fred K. Schott y varios colaboradores, quienes a día de hoy lo siguen manteniendo junto con la ayuda de cientos de usuarios que mejoran el código gracias a su naturaleza de código libre.</p>
    <h3 class="text-2xl font-semibold">¿Por qué Astro?</h3>
    <p>Astro es conocido por ser pionero en una nueva arquitectura frontend para reducir la sobrecarga y complejidad de JavaScript en comparación con otros frameworks. Si necesitas un sitio web que cargue rápidamente y tenga un excelente SEO, entonces Astro es para ti.</p>
  </div>
</Layout>